.navbar {
  background: black;
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar-brand {
  width: 15%;
  color: white;
  text-decoration: none;
}

.options {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.options > li > a {
  border: 1px solid ghostwhite;
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
}
